notebooks/Earthquake-audio-activity/
**/*.mseed
**/*.MSEED
**/*.png
**/*.PNG
**/*.wav
**/*.WAV
**/*.wave
/convnettorch/
**/**/runs/
**/**/models/
**/*.zip
**/*.pt
**/*.7z
/convnettorch/
workspace.code-workspace
.idea/
.ipynb_checkpoints/
.DS_Store
